/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #9999;
}



.header{
	color: #000000;
	font-size: 18px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 125px 0 24px 290px;
	color: #FF00FF;
}
.list{
	padding: 0 0 0 290px;
	font-size: 20px;
	line-height: 36px;
	color: #273d46;
}
.list li{
	background: url('../img/check.png') left no-repeat;
	padding: 0 0 0 30px;
}
.list li:nth-child(1){
	text-decoration: line-through;
}
.list li:nth-child(2){
	font-weight: 700;
}
.list li:nth-child(3){
	font-style: italic;
}
.list li:nth-child(4){
	text-transform: uppercase;
	margin: 0 0 80px 0;
	text-decoration: underline;
}
.list_2{
	color: #273d46;
	font-size: 20px;
	line-height: 36px;
	padding: 0 0 0 290px;
}
.list_2 li{
	background: url('../img/check.png') left no-repeat;
	padding: 0 0 0 30px;
}


.list_2 li:nth-child(1):hover{
	color: #008000;
	text-decoration: underline;
}
.list_2 li:nth-child(2):hover{
	color: #00FFFF;
	text-decoration: line-through;
}
.list_2 li:nth-child(3):hover{
	color: #FF0000;
}
.list_2 li:nth-child(4):hover{
	color: #800080;
}
.link_1{
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	height: 44px;
	line-height: 44px;
	background-color: #80b7b3;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	padding: 0 30px;
	margin: 137px 90px 0 315px;
}
.link_1 span{
	background: url('../img/icons/vektor.png') right no-repeat;
	padding: 0 27px 0 0 ;
}
.link_2{
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	height: 44px;
	line-height: 44px;
	border-radius: 30px;
	background-color: #80b7b3;
	display: inline-block;
	color: #ffffff;
	padding: 0 30px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin: 0 90px 0 0;
}
.link_2 span{
	background: url('../img/icons/vektor.png') right no-repeat;
	padding: 0 27px 0 0;
}
.link_2:hover{
background-color: #3a5856;
}
.link_3{
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	height: 44px;
	line-height: 44px;
	border-radius: 30px;
	display: inline-block;
	background-color: #80b7b3;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	padding: 0 30px;
}
.link_3 span{
	background: url('../img/icons/vektor.png') right no-repeat;
	padding: 0 27px 0 0;
}
.link_3:hover{
	background-color: #3a5856;
}
.link_3:hover:active{
	background-color: #818181;
}
.input-text{
	width: 292px;
	height: 50px;
	border: 1px solid #b0b0b0;
	border-radius: 10px;
	margin: 125px 80px 300px 292px;
}
.input-text2{
	width: 292px;
	height: 50px;
	border: 1px solid #b0b0b0;
	border-radius: 10px;
}
.input-text2:focus{
	box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
	border: 1px solid #7fbed5;
}


























































